nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #E1F5FE;
  display: inline-block;
}

nav ul li {
  float: left;
  margin: 0 15px;
}

nav ul li a {
  display: block;
  text-decoration: none;
  font-family: 'Lora', cursive;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  color: black;
  padding: 10px 20px;
}

li a:hover {
  text-decoration: underline;
}
